# Dockerfile.j2: A Jinja2 template for an Apache Tomcat Dockerfile on Fedora OS

# Use the official Fedora image as the base image
FROM fedora:{{ fedora_version }}

# Install Tomcat and OpenJDK
RUN dnf -y install java-{{ java_version }}-openjdk-headless tar && \
    dnf -y install wget && \
    wget https://archive.apache.org/dist/tomcat/tomcat-{{ tomcat_major_version }}/v{{ tomcat_version }}/bin/apache-tomcat-{{ tomcat_version }}.tar.gz && \
    tar xvfz apache-tomcat-{{ tomcat_version }}.tar.gz && \
    mv apache-tomcat-{{ tomcat_version }} /usr/local/tomcat && \
    dnf clean all

# Set environment variables
ENV CATALINA_HOME /usr/local/tomcat
ENV PATH $CATALINA_HOME/bin:$PATH
ENV TOMCAT_MAJOR {{ tomcat_major_version }}
ENV TOMCAT_VERSION {{ tomcat_version }}

# Expose the default Tomcat port
EXPOSE 8080

# Copy application WAR (Web Archive) files to the webapps directory
{% for war in wars %}
COPY {{ war.source }} $CATALINA_HOME/webapps/{{ war.dest }}
{% endfor %}

# Start Tomcat
CMD ["catalina.sh", "run"]
